{% extends 'ImieGameBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/imiegame/css/home.css') }}" type="text/css" media="all" />
{% endblock %}

{% block content %}
    <div id="home">
        <hgroup id="subtitle">
            <h1>Connectez-vous</h1>
            <h2>Saisissez votre nom d'utilisateur</h2>
        </hgroup>
        <form method="post" action="{{ path('imie_game_login') }}" id="login-form">
            <div class="group">
                <input type="text" name="playername" maxlength="35" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Nom d'utilisateur</label>
            </div>
            <div class="btn">
                <span>Se connecter</span>
            </div>
            <input type="submit" style="display:none;">
        </form>
    </div>
{% endblock %}